:root{
    --cyan:hsl(179, 62%, 43%);
    --bright-yellow:hsl(71, 73%, 54%);
 /* Neutral */
    --light-gray: hsl(204, 43%, 93%);
    --graylish-blue: hsl(218, 22%, 67%);
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-gray);
}
.container{
    max-width: 600px;
    max-height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;
    color: white;
    
}
.container .join{
 
    background-color: white;
    grid-column:1/3;
    padding: 40px;
    color: var(--graylish-blue);
}
.container .join > h3{ 
   color: var(--cyan);   
   margin-bottom: 24px;

}
.container .join > span{ 
    font-weight: 400;
    color: var(--bright-yellow);

 }
 .container .join > p{ 
    font-weight: 400;
    margin-top: 15px;
 }
.container .subcription{
    background-color: hsl(179, 68%, 37%);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.container .why{
    background-color: var(--cyan);
    padding: 40px;
}
.why h4{
    margin-bottom: 24px;
 
}
.why ul{
    font-size: 14px;
    list-style: none;
}
.cost{
    display: flex;
    align-items: center;
}
.cost h2{
    margin-right: 10px;
}
.cost small{
    color: hsl(219, 17%, 81%);
}
.subcription p{
    font-size: 12px;
}
.cost_button{
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    background-color: var(--bright-yellow);
}
.cost_button:hover{
    background-color: hsl(71, 80%, 41%);
    cursor: pointer;
    margin-bottom: 0;
}
footer{
    position: absolute;
    bottom: 5px;
}

@media screen and (max-width: 375px) {
    body{
        width: 100vw;
        height: 100vh;
    }
    .container{
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    .container .join{
        background-color: white;
        color: var(--graylish-blue);
    }
    .subcription{
        align-items: center; 
    }
    footer{
        display: none;
    }
    

}